.parkinfo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1200px;
    /*border: 1px solid #014034;*/
    margin: 40px 0;
}

.parkinfo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.parkinfo-image {
    width: 450px;
    height: 350px;
}