.parkinfo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1300px;
}

.parkinfo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.parkinfo-image {
    width: 450px;
    height: 350px;
}

.parkinfo-details h4, h5, p{
    margin: 14px 0;
}


.activity-list {
    font-size: 12px;
    list-style: circle;
    columns: 4;
    column-gap: 40px;
}

.entrance-list  {
    font-size: 12px;
}

.entrance-list p {
    font-size: 12px;
    margin: 2px;
}

.delete-button {
    background-color: transparent;
    color: #014034;
    font-size: 15px;
}

.comments-form {
    margin: 20px;
}
