
input {
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    border: 1px solid darkgrey;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /*border: 1px solid yellow;*/
}

.error-message {
    color: red;
    font-size: 12px;
    font-weight: 400;
}