.profile-section {
    border: 1px solid #02735E;
    background-color: #02735E;
    color: mintcream;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    width: 800px;
    margin-top: 150px;
}

.profile-section p {
    margin: 6px;
}

.profile.info {
    display: flex;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.favorite-icon {
    width: 35px;
    height: 35px;
    margin: 0 30px;
}