.contactform-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /*border: 1px solid #02735E;*/
}

.contactform-wrapper select {
    border-radius: 50px;
    border: 1px solid darkgrey;
    padding: 6px;
}

.contact-section {
    margin: 30px
}

.contact-section h2 {
    color: #014034;
    font-size: 30px;
}
