#contact {
    background-image: url('src/assets/contact.jpg');
    background-size: 45% 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.contactform {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contactform-wrapper {
    margin-right: 550px;
}

.contactform-wrapper h2 {
    margin-bottom: 20px;
}

.contactform select {
    border-radius: 50px;
    border: 1px solid darkgrey;
    padding: 8px;
}

.contact-section {
    margin: 30px
}

.contact-section h2 {
    color: #014034;
    font-size: 30px;
    text-align: center;
}

.description-area {
    border-radius: 30px;
}