
#home {
    background-image: url("src/assets/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


/*kan wellicht bij input*/
.search-bar {
    border-radius: 25px;
    border: none;
    text-align: center;
    width: 35%;
    background-color: white;
    color: darkgrey;
    font-weight: 300;
    font-size: 15px;
    padding: 12px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /* Laat main groeien om de resterende ruimte in te nemen */
    padding-top: 270px;
}

h1 {
    color: white;
    font-weight: 500;
    font-size: 60px;
}
