.default-link {
    border-bottom: 1px solid transparent;
}

.active-link {
    border-bottom: 1px solid mediumaquamarine;
}

.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-menu {
    list-style: none;
    display: flex;
    flex-basis: 450px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 25px;
}

.logo-wrapper img {
    max-height: 30px;
}