.favorites-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1200px;
}

.favorites-container h2 {
    margin-bottom: 25px;
}

.favorites-item {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.default-favorite {
    color: #E6E6FA;
    font-size: 32px;
}

.active-favorite {
    color: #DC143C;
    font-size: 32px;
}

.favorite-button {
    /*background: none;*/
    position: absolute;
    top: 12px;
    right: 1px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}