
.filter-group {
    display: flex;
    width: 1000px;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 10px;
}

.park-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
    gap: 40px;
    margin: 50px;
    max-width: 1200px;
    text-align: center;
}

.buttons-explore button{
    margin: 0 10px;
}

.buttons-explore {
    margin-bottom: 40px;
}