#signup {
    background-image: url('src/assets/signup.jpg');
    background-size: 40% 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.signup-section {
    max-width: 1000px;
    margin-top: 80px;
}

.signup-section h2 {
    margin: 0;
    color: #014034;
    font-size: 40px;
    font-weight: 600;
}

.signup-section form {
    margin-top: 50px;
    width: 50%;
}

.signup-section h4 {
    color: #014034;
    margin: 0;
    padding-top: 30px;
}
